## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
df_application = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
df_application.head()

2023-08-03 10:44:05.525778: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Identify and count the number of occurrences of observed typo
df_application["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [4]:
# Correct typo
df_application["USE_CASE"] = df_application["USE_CASE"].replace("Heathcare", "Healthcare")

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df_application_features = df_application.drop(columns = ['EIN', 'NAME'])

# View the new features dataframe
df_application_features.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Healthcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
print(df_application_features.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
print(df_application_features['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500

# use the variable name `application_types_to_replace`
application_types_to_replace = list(
    df_application_features['APPLICATION_TYPE'].value_counts()[df_application['APPLICATION_TYPE'].value_counts() < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    df_application_features['APPLICATION_TYPE'] = df_application_features['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df_application_features['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
print(df_application_features['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
classification_counts = df_application_features['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 1000

# use the variable name `classifications_to_replace`
classifications_to_replace = list(df_application_features['CLASSIFICATION'].value_counts()[df_application_features['CLASSIFICATION'].value_counts() < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df_application_features['CLASSIFICATION'] = df_application_features['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
df_application_features['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_features = pd.get_dummies(df_application_features)

In [13]:
# Split our preprocessed data into our features and target arrays
X = df_application_features.drop(columns=['IS_SUCCESSFUL'])
y = df_application_features['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100, verbose=1)

Epoch 1/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5688 - accuracy: 0.7230
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7287
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7303
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7310
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7332
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7328
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7347
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7333
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7356
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7349
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7353
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7352
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7360
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7357
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7359
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7363
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7373
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7379
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7373
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7395
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7384
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7382
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7387
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7391
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7395
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7396
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7399
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7400

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5583 - accuracy: 0.7290 - 410ms/epoch - 2ms/step
Loss: 0.5582592487335205, Accuracy: 0.7289795875549316

In [19]:
# Export our model to HDF5 file
nn.save("trained_charity.h5")

/Users/robertzygmuntlehr/opt/anaconda3/lib/python3.9/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(